<!-- Modal -->
<div x-show="showModal" x-transition:enter="transition ease-out duration-300 transform"
    x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave="transition ease-in duration-200 transform"
    x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    class="fixed z-10 inset-0 overflow-y-auto" x-cloak>
    <div class="flex items-center justify-center min-h-screen px-4 text-center">
        <!-- Modal panel -->
        <div class="bg-white rounded-lg shadow-xl sm:w-96">
            <div class="p-6">
                <!-- Modal title -->
                <h3 class="text-lg font-medium text-gray-900">Agregar Servicio</h3>
                <div class="mt-4 space-y-4">
                    <!-- Descripcion -->
                    <div>
                        <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
                        <input
                        type="text"
                        id="descripcion"
                        name="descripcion"
                        [(ngModel)]="servicio.descripcionServicio"
                        maxlength="45"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                    </div>
                    <!-- Costo -->
                    <div>
                        <label for="costo" class="block text-sm font-medium text-gray-700">Costo</label>
                        <input
                        type="text"
                        id="costo"
                        name="costo"
                        [(ngModel)]="servicio.costo"
                        maxlength="45"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                    </div>
                    <!--Fecha Inicio-->
                    <div>
                        <label for="fechaInicio" class="block text-sm font-medium text-gray-700">Fecha Inicio</label>
                        <input
                        type="date"
                        id="fechaInicio"
                        name="fechaInicio"
                        [(ngModel)]="servicio.fechaInicio"
                        required
                        maxlength="10"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="!isFechaValida(servicio.fechaInicio)" class="text-red-500 text-sm mt-2">
                            Ingresa una fecha válida en formato AAAA-MM-DD.
                        </div>                        
                    </div>
                    <!--Fecha Fin-->
                    <div>
                        <label for="fechaFin" class="block text-sm font-medium text-gray-700">Fecha Fin</label>
                        <input
                        type="date"
                        id="fechaFin"
                        name="fechaFin"
                        [(ngModel)]="servicio.fechaFin"
                        maxlength="10"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="!isFechaValida(servicio.fechaFin)" class="text-red-500 text-sm mt-2">
                            Ingresa una fecha válida en formato AAAA-MM-DD.
                        </div>                        
                    </div>
                    <!-- Persona Encargada -->
                    <div>
                        <label for="personaEncargada" class="block text-sm font-medium text-gray-700">Persona Encargada</label>
                        <input
                        type="text"
                        id="personaEncargada"
                        name="personaEncargada"
                        [(ngModel)]="servicio.personaEncargada"
                        maxlength="45"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                    </div>
                    <!-- Teléfono -->
                    <div>
                        <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono</label>
                        <input
                        type="text"
                        id="telefono"
                        name="telefono"
                        [(ngModel)]="servicio.telefono"
                        pattern="^[0-9]+$"
                        maxlength="10"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="!isTelefonoValido(servicio.telefono)" class="text-red-500 text-sm">
                            Ingresa un teléfono válido.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Action buttons -->
            <div class="flex justify-end bg-gray-50 p-4">
                <button (click)="onCancel()" type="button"
                    class="px-4 py-2 mr-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:ring-2 focus:ring-blue-500">
                    Cancelar
                </button>
                <button (click)="onSave()" type="button"
                    class="px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:ring-2 focus:ring-red-500">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>