<div class="background-gradient"></div>
<div class="container">
  <div class="left-side">
    <div class="welcome-message">
      <h1 class="my-3 font-semibold text-4xl">¡Bienvenido al Sistema de Gestión de Proyectos!</h1>
      <h1 class="my-3 font-semibold text-6xl">Constructora WN SAS.</h1>
    </div>
  </div>
  <div class="right-side">
    <div class="login-card">
      <img src="Logo WN.png" alt="Logo" class="logo">
      <input [(ngModel)]="user" (input)="onEmailInput()" type="email" class="input-field" placeholder="Email" />
      <div *ngIf="!isEmailValid" class="error-message">
        Por favor, ingresa un correo electrónico válido.
      </div>
      <div class="password-container">
        <input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" class="input-field password-input"
          placeholder="Contraseña">
        <button type="button" class="eye-button self-center" (click)="togglePassword()">
          <i class="fa" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
        </button>
      </div>
      <a routerLink="/sendemail" routerLinkActive="active-link" class="forgot-password">¿Olvidaste tu contraseña?</a>
      <button (click)="login()" type="submit" class="login-button">Iniciar sesión</button>
    </div>
  </div>
</div>
<footer class="footer">
  © 2025 Constructora WN SAS. Todos los derechos reservados.
</footer>
<svg class="absolute bottom-0 left-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#1f2937" fill-opacity="1"
    d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
  </path>
</svg>