<!-- Modal -->
<div x-show="showModal" x-transition:enter="transition ease-out duration-300 transform"
    x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave="transition ease-in duration-200 transform"
    x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    class="fixed z-10 inset-0 overflow-y-auto" x-cloak>
    <div class="flex items-center justify-center min-h-screen px-4 text-center">
        <!-- Modal panel -->
        <div class="bg-white rounded-lg shadow-xl sm:w-96">
            <div class="p-6">
                <!-- Modal title -->
                <h3 class="text-lg font-medium text-gray-900">Modificar Maestro</h3>
                <div class="mt-4 space-y-4">
                    <!-- Nombre -->
                    <div>
                        <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                        <input
                            type="text"
                            id="nombre"
                            name="nombre"
                            [(ngModel)]="maestro.nombre"
                            required
                            maxlength="45"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-gray-500 focus:border-red-500"
                        />
                    </div>
                    <!-- Apellidos -->
                    <div>
                        <label for="apellido" class="block text-sm font-medium text-gray-700">Apellido</label>
                        <input
                        type="text"
                        id="apellido"
                        name="apellido"
                        [(ngModel)]="maestro.apellido"
                        required
                        maxlength="45"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                    </div>
                    <!-- Teléfono -->
                    <div>
                        <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono</label>
                        <input
                        type="text"
                        id="telefono"
                        name="telefono"
                        [(ngModel)]="maestro.telefono"
                        pattern="^[0-9]+$"
                        maxlength="10"
                        required
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="!isTelefonoValido(maestro.telefono)" class="text-red-500 text-sm">
                            Ingresa un teléfono válido de hasta 10 dígitos.
                        </div>
                    </div>
                    <!-- Estado Maestro -->
                    <div class="w-full max-w-sm mx-auto">
                        <label for="estadoMaestro" class="block text-sm font-medium text-gray-700">Estado Maestro</label>
                        <select 
                          id="estadoMaestro"
                          name="estadoMaestro" 
                          [(ngModel)]="maestro.estadoMaestro"
                          required
                          class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        >
                          <option value="" disabled selected>Seleccione un estado</option>
                          <option value="Asignado_A_Proyecto">Asignado_A_Proyecto</option>
                          <option value="Disponible">Disponible</option>
                          <option value="Desvinculado">Desvinculado</option>
                          <option value="Incapacitado">Incapacitado</option>
                        </select>
                    </div>
                    <!--Salario-->
                    <div>
                        <label for="salario" class="block text-sm font-medium text-gray-700">Salario</label>
                        <input
                        type="text"
                        id="salario"
                        name="salario"
                        [(ngModel)]="maestro.salario"
                        pattern="^[0-9]+$"
                        maxlength="10"
                        required
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="!isSalarioValido(maestro.salario)" class="text-red-500 text-sm">
                            Ingresa un teléfono válido de hasta 10 dígitos.
                    </div>
                    </div>
                    <!--Fecha Vinculacion-->
                    <div>
                        <label for="fechaVinculacion" class="block text-sm font-medium text-gray-700">Fecha Vinculacion</label>
                        <input
                        type="date"
                        id="fechaVinculacion"
                        name="fechaVinculacion"
                        [(ngModel)]="maestro.fechaVinculacion"
                        required
                        maxlength="10"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="!isFechaValida(maestro.fechaVinculacion)" class="text-red-500 text-sm mt-2">
                            Ingresa una fecha válida en formato AAAA-MM-DD.
                        </div>                        
                    </div>
                    <!--Fecha Desvinculacion-->
                    <div>
                        <label for="fechaDesvinculacion" class="block text-sm font-medium text-gray-700">Fecha Desvinculacion</label>
                        <input
                        type="date"
                        id="fechaDesvinculacion"
                        name="fechaDesvinculacion"
                        [(ngModel)]="maestro.fechaDesvinculacion"
                        maxlength="10"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="!isFechaValida(maestro.fechaDesvinculacion)" class="text-red-500 text-sm mt-2">
                            Ingresa una fecha válida en formato AAAA-MM-DD.
                        </div>                        
                    </div> 
                </div>
            </div>
            <!-- Action buttons -->
            <div class="flex justify-end bg-gray-50 p-4">
                <button (click)="onCancel()" type="button"
                    class="px-4 py-2 mr-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:ring-2 focus:ring-blue-500">
                    Cancelar
                </button>
                <button (click)="onSave()" type="button"
                    class="px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:ring-2 focus:ring-red-500">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>