<!-- Modal -->
<div x-show="showModal" x-transition:enter="transition ease-out duration-300 transform"
    x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave="transition ease-in duration-200 transform"
    x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    class="fixed z-10 inset-0 overflow-y-auto" x-cloak>
    <div class="flex items-center justify-center min-h-screen px-4 text-center">
        <!-- Modal panel -->
        <div class="bg-white rounded-lg shadow-xl sm:w-96">
            <div class="p-6">
                <!-- Modal title -->
                <h3 class="text-lg font-medium text-gray-900">Modificar Proveedor</h3>
                <div class="mt-4 space-y-4">
                    <!-- Nombre -->
                    <div>
                        <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                        <input
                            type="text"
                            id="nombre"
                            name="nombre"
                            [(ngModel)]="proveedor.nombreProveedor"
                            required
                            maxlength="45"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-gray-500 focus:border-red-500"
                        />
                    </div>
                    <!-- Servicio -->
                    <div>
                        <label for="servicio" class="block text-sm font-medium text-gray-700">Tipo de Servicio</label>
                        <input
                        type="text"
                        id="servicio"
                        name="servicio"
                        [(ngModel)]="proveedor.tipoServicio"
                        required
                        maxlength="45"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                    </div>
                    <!-- Correo -->
                    <div>
                        <label for="correo" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
                        <input
                        type="email"
                        id="correo"
                        name="correo"
                        [(ngModel)]="proveedor.correo"
                        maxlength="45"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="proveedor.correo && proveedor.correo.length > 45" class="text-red-500 text-sm">
                        El correo electrónico no debe exceder 45 caracteres.
                        </div>
                        <div *ngIf="!isCorreoValido(proveedor.correo)" class="text-red-500 text-sm">
                            Ingresa un correo electrónico válido.
                        </div>
                    </div>
                    <!-- Teléfono -->
                    <div>
                        <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono</label>
                        <input
                        type="text"
                        id="telefono"
                        name="telefono"
                        [(ngModel)]="proveedor.telefono"
                        pattern="^[0-9]+$"
                        maxlength="10"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
                        />
                        <div *ngIf="!isTelefonoValido(proveedor.telefono)" class="text-red-500 text-sm">
                            Ingresa un teléfono válido de hasta 10 dígitos.
                        </div>
                          
                    </div>
                </div>
            </div>
            <!-- Action buttons -->
            <div class="flex justify-end bg-gray-50 p-4">
                <button (click)="onCancel()" type="button"
                    class="px-4 py-2 mr-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:ring-2 focus:ring-blue-500">
                    Cancelar
                </button>
                <button (click)="onSave()" type="button"
                    class="px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:ring-2 focus:ring-red-500">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>